{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
      We have variety of products.
{% endblock %}
{% block title %}
    Search
{% endblock %}
{% block content %}
<div>
  <p class="text-center my_search_text" style="color:white;">You have searched for <b>"{{query}}"</b></p>
</div>
<div class="container">
    <div class="row mx_auto">
        {% for product in products %}
        <div class="my_bottom_margin col-9 col-sm-12  col-md-4 xol-lg-4">
            <div class="card text-center" ><br>
                <a href="{{product.get_url}}"><img style="width:60%; height:60%" class="card-img-top my_image" src="{{product.image.url}}" alt="{{product.name}}"></a>
            <div class="card-body">
                <h4>{{product.name}}</h4>
                <p>{{product.price}}</p>
        </div>
        </div>
    </div>
    {% empty %}
      <div class="row mx-auto">
          <h3 class="text-center" style="color:white;">No Results Found</h3>
      </div>
      {% endfor %}
    </div>
</div>
{% endblock %}